<div *ngIf="movieDetails$ | async as movieDetails">
  <h1>{{ movieDetails.title }}</h1>
  <img *ngIf="movieDetails.poster_path"
       [src]="'https://image.tmdb.org/t/p/w500' + (movieDetails.poster_path || '')"
       style="float: left"
       alt="Movie Poster">
  <p><strong>Overview:</strong> {{ movieDetails.overview }}</p>
  <p><strong>Genres:</strong>
    <span *ngFor="let genre of movieDetails.genres">{{ genre.name }}</span>
  </p>
  <p><strong>Release Date:</strong> {{ movieDetails.release_date }}</p>
  <p><strong>Rating:</strong> {{ movieDetails.vote_average }}/10</p>
  <p><strong>Original Language:</strong> {{ movieDetails.original_language }}</p>
  <p><strong>Original Title:</strong> {{ movieDetails.original_title }}</p>
  <p><strong>Popularity:</strong> {{ movieDetails.popularity }}</p>
  <p><strong>Production Companies:</strong>
    <span *ngFor="let company of movieDetails.production_companies">{{ company.name }}</span>
  </p>
  <p><strong>Production Countries:</strong>
    <span *ngFor="let country of movieDetails.production_countries">{{ country.name }}</span>
  </p>
  <p><strong>Status:</strong> {{ movieDetails.status }}</p>
  <p><strong>Spoken Languages:</strong>
    <span *ngFor="let language of movieDetails.spoken_languages">{{ language.name }}</span>
  </p>
</div>

<app-loader *ngIf="isLoading"></app-loader>
